{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{training}}
{% endblock title %}
{% block content %}
<h1>{{training}}</h1>
<p>{{training.location.with_address}}</p>
<nav>
    <ul class="nav justify-content-end flex-column flex-sm-row my-2">
        <li class="nav-item"><a class="nav-link bg-light text-dark" href="javascript:history.back()">{% trans "Back" %}</a></li>
        {% if training.can_unregister %}
            <li class="nav-item"><a class="nav-link bg-danger text-white ml-sm-3" href="{% url 'trainings-unregister' training.id %}">{% trans "Unregister" %}</a></li>
        {% elif training.can_register %}
            <li class="nav-item"><a class="nav-link bg-success text-white ml-sm-3" href="{% url 'trainings-register' training.id %}">{% trans "Register" %}</a></li>
        {% endif %}
        {% if training.can_edit %}
            <li class="nav-item dropdown ml-sm-3">
                <a class="nav-link dropdown-toggle bg-secondary text-light" role="button" id="dropdownEditMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{% trans "Further Actions" %}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownEditMenu">
                    <a class="dropdown-item" href="{% url 'trainings-message' training.id %}">{% trans "Mail" %}</a>
                    <a class="dropdown-item" href="{% url 'trainings-controlling' training.id %}">{% trans "Trainings Controlling" %}</a>
                    <a class="dropdown-item" href="{% url 'trainings-edit' training.id %}">{% trans "Edit" %}</a>
                    <a class="dropdown-item" href="{% url 'trainings-series' training.id %}">{% trans "Series" %}</a>
                    <a class="dropdown-item" href="{% url 'trainings-delete' training.id %}">{% trans "Delete" %}</a>
                </div>
            </li>
        {% endif %}
    </ul>
</nav>
<div class="row my-2">
    <div class="col-sm-6 col-md my-1 order-1">
        <div class="card">
            <div class="card-header">{% trans "Information" %}</div>
            <div class="card-body">
                <p class="card-text">
                    {% trans "Date" %}: {{training.startdate_as_text}}<br>
                    {% trans "Time" %}: {{training.starttime_as_text}}<br>
                    {% trans "Duration" %}: {{training.duration}} {% trans "minutes" %}<br>
                    {% trans "Main Instructor" %}: {{training.main_instructor}}<br>
                    {% with instructors=training.instructor.all %}
                        {% if instructors|length > 0 %}
                            {% trans "Further Instructors" %}:
                            {{instr}}
                            {% for instructor in instructors %}
                                {{instructor}}
                                {% if forloop.revcounter > 2 %}
                                    ,
                                {% elif forloop.revcounter == 2%}
                                     {% trans "and" %}
                                {% endif %}
                            {% endfor %}
                            <br>
                        {% endif %}
                    {% endwith %}
                    {% trans "Coordinator" %}: {% if training.coordinator %}{{training.coordinator}}<a href="{% url 'trainings-unregister-coordinator' training.id %}" class="text-danger mx-1"><span class="oi oi-circle-x"></span></a>{% if training.coordinator == user %}<br><small class="text-muted">{% trans 'You will get further information just before the training. If you cannot make it, please contact the respective trainer. In case of any questions, contact Aline Steinbrecher at (<a href="tel:0041792959637">079 296 96 37</a>)' %}</small>{% endif %}{% else %}<a href="{% url 'trainings-register-coordinator' training.id %}" class="btn btn-sm btn-secondary">{% trans "Register" %}</a>{% endif %}<br>
                </p>
            </div>
        </div>
    </div>
    {% if training.description %}
    <div class="col-sm-12 col-lg my-1 order-2 order-sm-12 order-lg-2">
        <div class="card">
            <div class="card-header">{% trans "Description" %}</div>
            <div class="card-body">
                <p class="card-text">
                    {{training.description|linebreaks}}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-sm-6 col-md my-1 order-3">
        <div class="card">
        {% with training.registered_participants.all as participants %}
            <div class="card-header d-flex justify-content-between">{% trans "Participants" %}<span class="badge {% if training.free_capacity > 4 %} badge-success {% elif training.free_capacity > 0%} badge-warning {% else %} badge-danger {% endif %} badge-pill align-self-center">{{participants|length}} / {{training.capacity}}</span></div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for participant in participants %}
                        <li class="list-group-item"><a href="{% url 'member-details' participant.id %}">{{participant.name_or_username}}</a></li>
                    {% empty %}
                        <li class="list-group-item">{% trans "No registrations yet" %}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endwith %}
        </div>
    </div>
</div>
{% endblock content %}