{% extends 'base.html' %}
{% load i18n %}
{% block titel %}
{% trans "Message to Participants" %}
{% endblock titel %}
{% block content %}
<nav class="nav justify-content-end flex-column flex-sm-row my-2">
    <a class="nav-link bg-light text-dark" href="javascript:history.back()">{% trans "Back" %}</a>
</nav>
<p class="my-4">{% trans "With the following form you can send information to everyone involved in the training." %}</p>
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6 col-lg-4 my-1">
            <div class="card">
                <div class="card-header">{% trans "Select recipients:" %}</div>
                <div class="card-body">
                    <fieldset class="mb-2">
                        <legend>{% trans "Main Instructor" %}:</legend>
                        <div class="form-check row my-0 p-2">
                            <label class="form-check-label" for="cb-{{ training.main_instructor.id }}">{{ training.main_instructor.name_or_username }}</label>
                            <input id="cb-{{ training.main_instructor.id }}" type="checkbox" name="{{training.main_instructor.id}}" value="send_message" class="mt-1 float-right" aria-label="{{training.main_instructor.name_or_username}}" checked/>
                        </div>
                    </fieldset>
                    {% if training.instructor.all.exists %}
                        <fieldset class="mb-2">
                            <legend>{% trans "Instructors" %}:</legend>
                            {% for instructor in training.instructor.all %}
                                <div class="form-check row my-0 p-2 {% cycle '' 'bg-secondary text-white' %}">
                                    <label class="form-check-label" for="cb-{{ instructor.id }}">{{ instructor.name_or_username }}</label>
                                    <input id="cb-{{ instructor.id }}" type="checkbox" name="{{instructor.id}}" value="send_message" class="mt-1 float-right" aria-label="{{instructor.name_or_username}}" checked/>
                                </div>
                            {% endfor %}
                        </fieldset>
                    {% endif %}
                    {% if training.registered_participants.all.exists %}
                        <fieldset class="mb-2">
                            <legend>{% trans "Participants" %}:</legend>
                            {% for user in training.registered_participants.all %}
                                <div class="form-check row my-0 p-2 {% cycle '' 'bg-secondary text-white' %}">
                                    <label class="form-check-label" for="cb-{{ user.id }}">{{ user.name_or_username }}</label>
                                    <input id="cb-{{ user.id }}" type="checkbox" name="{{user.id}}" value="send_message" class="mt-1 float-right" aria-label="{{user.name_or_username}}" checked/>
                                </div>
                            {% endfor %}
                        </fieldset>
                    {% endif %}
                    <fieldset class="mb-2">
                        <legend>{% trans "Copy to sender" %}:</legend>
                        <div class="form-check row my-0 p-2">
                            <label class="form-check-label" for="cb-{{ user.id }}">{% trans "Copy to myself" %}</label>
                            <input id="cb-{{ user.id }}" type="checkbox" name="{{user.id}}" value="send_message" class="mt-1 float-right" aria-label="{{user.name_or_username}}"/>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 my-1">
            <div class="card">
                <div class="card-header">{% trans "Write message" %}:</div>
                <div class="card-body">
                    <div class="row my-1">
                        <div class="col">
                            <input type="text" class="form-control" name="subject" aria-label="{% trans 'Subject' %}" placeholder="{% trans 'Subject' %}:" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <input type="text" class="form-control" name="salutation" aria-label="{% trans 'Salutation' %}" placeholder="{% trans 'Dear' %}"/>
                        </div>
                        <p class="col-auto ">{{user.first_name}},</p>
                    </div>
                    <textarea name="message" class="form-control" rows="6" aria-label="{% trans 'Text of the message' %}", placeholder="{% trans 'Message...' %}" required></textarea>
                    <input type="submit" value="Send" class="btn btn-success mt-3 float-right"/>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}