{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}
{% block title %}
{% trans "Training Overview" %}
{% endblock title %}
{% block additionalScripts %}
{{ myFilter.form.media }}
{% endblock additionalScripts %}
{% block content %}
<h1>{% trans "Trainings" %}</h1>
<div class="nav justify-content-end">
    <button class="btn btn-secondary my-2" type="button" data-toggle="collapse" data-target="#filter" aria-expanded="false" aria-controls="filter">{% trans "Toggle Filter" %}</button>
</div>
<div class="collapse my-2" id="filter">
    <div class="card">
        <div class="card-body">
            <form method="get">
                {{ myFilter.form|crispy }}
                <button class="btn btn-primary m-2" type="submit">
                {% trans "Filter" %}
                </button>
            </form>
        </div>
    </div>
</div>
<div class="table-responsive-lg">
<table class="table">
    <thead>
    <tr>
        <th class="d-none-d-xl-table-cell">{% trans "Date" %}</th>
        <th>{% trans "Weekday" %}</th>
        <th>{% trans "Start" %}</th>
        <th class="d-none d-lg-table-cell">{% trans "Duration" %}</th>
        <th class="d-none d-md-table-cell">{% trans "Target Group" %}</th>
        <th class="d-none d-sm-table-cell">{% trans "Location" %}</th>
        <th>{% trans "Trainer" %}</th>
        <th class="d-none d-lg-table-cell">{% trans "Coordinator" %}</th>
        <th colspan="2">{% trans "Registrations" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for training in trainings %}
    <tr>
        <td class="align-middle d-none d-xl-table-cell"><a href="{% url 'trainings-details' training.id %}">{{training.start.date}}</a></td>
        <td class="align-middle"><a href="{% url 'trainings-details' training.id %}">{{training.weekday_as_text}}</a></td>
        <td class="align-middle"><a href="{% url 'trainings-details' training.id %}">{{training.starttime_as_text}}</a></td>
        <td class="align-middle d-none d-lg-table-cell">{{training.duration}} {% trans "min." context "abbreviation for minutes"%}</td>
        <td class="align-middle d-none d-md-table-cell">
            {% with target_groups=training.target_group.all %}
            {% if target_groups|length > 1 %}
            <ul>
            {% for group in target_groups %}
                <li>{{group}}</li>
            {% endfor %}
            </ul>
            {% else %}
            {% for group in target_groups %}{{group}}{% endfor %}
            {% endif %}
            {% endwith %}
        </td>
        <td class="align-middle d-none d-sm-table-cell">{% if training.location %}{{training.location}}{% else %}&mdash;{% endif %}</td>
        <td class="align-middle">{{training.main_instructor}}</td>
        <td class="align-middle d-none d-lg-table-cell">{% if training.coordinator %}{{training.coordinator.get_public_name}}{% else %}{% trans "open" %}{% endif %}</td>
        <td class="align-middle">{{training.registered_participants.all.count}}/{{training.capacity}}</td>
        <td class="align-middle d-none d-sm-table-cell">{% if training.can_edit %}<a href="{% url 'trainings-edit' training.id %}" class="btn btn-warning btn-sm ml-3">{% trans "Edit" %}</a>{% elif training.is_registered %}<span class="oi oi-check ml-3 text-success" title="{% trans 'registered' %}%" aria-hidden="true"></span>{% elif training.can_register %}<a href="{% url 'trainings-register' training.id %}" class="btn btn-primary btn-sm ml-3">{% trans "Register" %}</a>{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}