{% extends 'base.html' %}
{% load i18n %}{% load static %}
{% block title %}
Teilnehmer Statistik
{% endblock title %}
{% block additionalStyles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-table-fixed-columns.min.css' %}"/>
{% endblock additionalStyles %}
{% block additionalScripts %}
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-fixed-columns.min.js' %}"></script>
{% endblock additionalScripts %}
{% block content %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show my-2" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert", aria-label="Schliessen">
        <span arie-hidden="true">&times;</span>
    </button>
    </div>
{% endfor %}
<h1>Teilnehmer</h1>
<div class="card">
    <div class="card-body">
        <form method="get" class="form-inline">
            <div class="form-row col-12">
            {% for item in myFilter.form %}
                <div class="col-auto">
                    <label for="{{item.id_for_label}}" class="d-inline-flex">{{item.label}}</label>: {{item}}
                </div>
            {% endfor %}
            <div class="col-auto">
                <input type="number" class="form-control" placeholder="{% trans 'Jahr' %}" aria-label="{% trans 'Jahr' %}" min="1" max="9999" name="year" value="{{year}}">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit">
                    Filtern
                </button>
            </div>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive my-3">
<table class="table table-hover" data-toggle="table" data-fixed-columns="true" data-fixed-number="3">
    <thead>
    <tr>
        <th class="align-middle" rowspan="2">Vorname</th>
        <th class="align-middle" rowspan="2">Nachname</th>
        <th class="align-middle" rowspan="2">Benutzername</th>
        <th colspan="54" class="text-center">Trainings in KW</th>
    </tr>
    <tr>
        <th class="text-right">1</th>
        <th class="text-right">2</th>
        <th class="text-right">3</th>
        <th class="text-right">4</th>
        <th class="text-right">5</th>
        <th class="text-right">6</th>
        <th class="text-right">7</th>
        <th class="text-right">8</th>
        <th class="text-right">9</th>
        <th class="text-right">10</th>
        <th class="text-right">11</th>
        <th class="text-right">12</th>
        <th class="text-right">13</th>
        <th class="text-right">14</th>
        <th class="text-right">15</th>
        <th class="text-right">16</th>
        <th class="text-right">17</th>
        <th class="text-right">18</th>
        <th class="text-right">19</th>
        <th class="text-right">20</th>
        <th class="text-right">21</th>
        <th class="text-right">22</th>
        <th class="text-right">23</th>
        <th class="text-right">24</th>
        <th class="text-right">25</th>
        <th class="text-right">26</th>
        <th class="text-right">27</th>
        <th class="text-right">28</th>
        <th class="text-right">29</th>
        <th class="text-right">30</th>
        <th class="text-right">31</th>
        <th class="text-right">32</th>
        <th class="text-right">33</th>
        <th class="text-right">34</th>
        <th class="text-right">35</th>
        <th class="text-right">36</th>
        <th class="text-right">37</th>
        <th class="text-right">38</th>
        <th class="text-right">39</th>
        <th class="text-right">40</th>
        <th class="text-right">41</th>
        <th class="text-right">42</th>
        <th class="text-right">43</th>
        <th class="text-right">44</th>
        <th class="text-right">45</th>
        <th class="text-right">46</th>
        <th class="text-right">47</th>
        <th class="text-right">48</th>
        <th class="text-right">49</th>
        <th class="text-right">50</th>
        <th class="text-right">51</th>
        <th class="text-right">52</th>
        <th class="text-right">53</th>
        <th class="text-right">Total</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr class="position-relative">
        <td class="align-middle">{{user.first_name}}</td>
        <td class="align-middle">{{user.last_name}}</td>
        <td class="align-middle"><a href="{% url 'member-details' user.id %}" class="stretched-link">{{user.username}}</a></td>
        <td class="text-right">{{user.week_1|default:"-"}}</td>
        <td class="text-right">{{user.week_2|default:"-"}}</td>
        <td class="text-right">{{user.week_3|default:"-"}}</td>
        <td class="text-right">{{user.week_4|default:"-"}}</td>
        <td class="text-right">{{user.week_5|default:"-"}}</td>
        <td class="text-right">{{user.week_6|default:"-"}}</td>
        <td class="text-right">{{user.week_7|default:"-"}}</td>
        <td class="text-right">{{user.week_8|default:"-"}}</td>
        <td class="text-right">{{user.week_9|default:"-"}}</td>
        <td class="text-right">{{user.week_10|default:"-"}}</td>
        <td class="text-right">{{user.week_11|default:"-"}}</td>
        <td class="text-right">{{user.week_12|default:"-"}}</td>
        <td class="text-right">{{user.week_13|default:"-"}}</td>
        <td class="text-right">{{user.week_14|default:"-"}}</td>
        <td class="text-right">{{user.week_15|default:"-"}}</td>
        <td class="text-right">{{user.week_16|default:"-"}}</td>
        <td class="text-right">{{user.week_17|default:"-"}}</td>
        <td class="text-right">{{user.week_18|default:"-"}}</td>
        <td class="text-right">{{user.week_19|default:"-"}}</td>
        <td class="text-right">{{user.week_20|default:"-"}}</td>
        <td class="text-right">{{user.week_21|default:"-"}}</td>
        <td class="text-right">{{user.week_22|default:"-"}}</td>
        <td class="text-right">{{user.week_23|default:"-"}}</td>
        <td class="text-right">{{user.week_24|default:"-"}}</td>
        <td class="text-right">{{user.week_25|default:"-"}}</td>
        <td class="text-right">{{user.week_26|default:"-"}}</td>
        <td class="text-right">{{user.week_27|default:"-"}}</td>
        <td class="text-right">{{user.week_28|default:"-"}}</td>
        <td class="text-right">{{user.week_29|default:"-"}}</td>
        <td class="text-right">{{user.week_30|default:"-"}}</td>
        <td class="text-right">{{user.week_31|default:"-"}}</td>
        <td class="text-right">{{user.week_32|default:"-"}}</td>
        <td class="text-right">{{user.week_33|default:"-"}}</td>
        <td class="text-right">{{user.week_34|default:"-"}}</td>
        <td class="text-right">{{user.week_35|default:"-"}}</td>
        <td class="text-right">{{user.week_36|default:"-"}}</td>
        <td class="text-right">{{user.week_37|default:"-"}}</td>
        <td class="text-right">{{user.week_38|default:"-"}}</td>
        <td class="text-right">{{user.week_39|default:"-"}}</td>
        <td class="text-right">{{user.week_40|default:"-"}}</td>
        <td class="text-right">{{user.week_41|default:"-"}}</td>
        <td class="text-right">{{user.week_42|default:"-"}}</td>
        <td class="text-right">{{user.week_43|default:"-"}}</td>
        <td class="text-right">{{user.week_44|default:"-"}}</td>
        <td class="text-right">{{user.week_45|default:"-"}}</td>
        <td class="text-right">{{user.week_46|default:"-"}}</td>
        <td class="text-right">{{user.week_47|default:"-"}}</td>
        <td class="text-right">{{user.week_48|default:"-"}}</td>
        <td class="text-right">{{user.week_49|default:"-"}}</td>
        <td class="text-right">{{user.week_50|default:"-"}}</td>
        <td class="text-right">{{user.week_51|default:"-"}}</td>
        <td class="text-right">{{user.week_52|default:"-"}}</td>
        <td class="text-right">{{user.week_53|default:"-"}}</td>
        <td class="text-right">{{user.total_trainings|default:"-"}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock  %}