{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block  title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    {% block externalResources %}
        {% block styles %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}"/>
            <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
            {% block additionalStyles %}
            {% endblock additionalStyles %}
        {% endblock styles %}
        {% block scripts %}
            <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            {% block additionalScripts %}
            {% endblock additionalScripts %}
        {% endblock scripts %}
    {% endblock externalResources %}
</head>
<body>
    {% block mainNavigationBar %}
    <nav id="mainnav" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="{% trans 'Expand navigation' %}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'logo.png' %}" width="30" height="30" alt="Judo Club Uster"/></a>
        <div class="collapse navbar-collapse" id="navbarMain">
            <div class="navbar-nav">
                {% block mainNavigation %}
                {% include 'navbar.html' %}
                {% endblock mainNavigation %}
            </div>
            <div class="ml-auto navbar-nav">
                {% block userMenu %}
                    {% if user.is_authenticated %}
                    <span class="nav-item"><a class="nav-link" href="{% url 'account' %}">{{request.user}}</span>
                    <span class="nav-item"><a class="nav-link" href="{% url 'logout' %}">{% trans "Log out" %}</a></span>
                    {% else %}
                    <span class="nav-item"><a class="nav-link" href="{% url 'login' %}">{% trans "Log in" %}</a></span>
                    {% endif %}
                {% endblock userMenu %}
            </div>
        </div>
        </div>
    </nav>
    {% endblock mainNavigationBar %}
    <main class="container">
        {% block messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show my-2" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert", aria-label="{% trans 'Close' %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endblock messages %}
        {% block content %}
        {% endblock content %}
    </main>
    {% block footerBar %}
    <footer class="container-fluid bg-dark">
        <div class="container">
            {% block footer %}
            {% endblock footer %}
        </div>
    </footer>
    {% endblock footerBar %}
    {% block afterScripts %}
    {% endblock afterScripts %}
</body>
</html>