{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block  title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    {% block mainNavigationBar %}
    <nav id="mainnav" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Navigation ausklappen">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <div class="navbar-nav">
                {% block mainNavigation %}
                {% include 'navbar.html' %}
                {% endblock mainNavigation %}
            </div>
        </div>
        </div>
    </nav>
    {% endblock mainNavigationBar %}
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    {% block footerBar %}
    <footer class="container-fluid bg-dark">
        <div class="container">
            {% block footer %}
            {% endblock footer %}
        </div>
    </footer>
    {% endblock footerBar %}
</body>
</html>