{% load i18n %}
{% comment %} <li class="nav-item"><a href="{% url 'home' %}", class="nav-link">{% trans "Home" %}</a></li>{% endcomment %}
{% if user.is_trainer or user.is_administrator %}
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="trainingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Trainings" %}</a>
    <div class="dropdown-menu bg-light" aria-labelledby="trainingsDropdown">
        <a href="{% url 'trainings-overview' %}" class="dropdown-item">{% trans "Future" %}</a>
        <a href="{% url 'trainings-all' %}" class="dropdown-item">{% trans "All" %}</a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'trainings-held' %}", class="dropdown-item">{% trans "Trainings Control" %}</a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'trainings-create' %}", class="dropdown-item">{% trans "New Training" %}</a>
    </div>
</li>
{% if user.is_administrator %}
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="memberDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Members" %}</a>
    <div class="dropdown-menu bg-light" aria-labelledby="memberDropdown">
        <a href="{% url 'members-all' %}", class="dropdown-item">{% trans "All" %}</a>
        <a href="{% url 'trainings-participation' %}" class="dropdown-item">{% trans "Statistics" %}</a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'user-management' %}" class="dropdown-item">{% trans "Management" %}</a>
    </div>
{% else %}
<li class="nav-item"><a href="{% url 'members-all' %}", class="nav-link">{% trans "Members" %}</a></li>
{% endif %}
{% else %}
<li class="nav-item"><a href="{% url 'trainings-overview' %}", class="nav-link">{% trans "Trainings" %}</a></li>
{% endif %}
{% if user.is_staff %}
<li class="nav-item"><a href="/admin" class="nav-link">{% trans "Administration" %}</a></li>
{% endif %}