appdirs==1.4.4
asgiref==3.2.10
autopep8==1.5.3
CacheControl==0.12.6
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0.post1
dateparser==0.7.6
distlib==0.3.1
distro==1.5.0
Django==3.0.8
django-active-link==0.1.6
django-crispy-forms==1.9.1
django-filter==2.3.0
django-tempus-dominus==5.1.2.13
entrypoints==0.3
flake8==3.8.3
html5lib==1.0.1
idna==2.10
ipaddr==2.2.0
lockfile==0.12.2
mccabe==0.6.1
msgpack==1.0.0
packaging==20.4
pep517==0.8.2
progress==1.5
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2020.1
regex==2020.6.8
requests==2.24.0
retrying==1.3.3
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tzlocal==2.1
urllib3==1.25.9
webencodings==0.5.1
