{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% if title %}
{{title}}
{% else %}
{% trans "Delete" %}
{% endif %}
{% endblock title %}
{% block mainNavigationBar %}
{% endblock mainNavigationBar %}
{% block content %}
{% if items %}
    <p class="mt-5 mb-2">{% trans "Should the following objects be deleted?" %}</p>
    <ul>
        {% if item %}
        <li>{{item}}</li>
        {% endif %}
        {% for item in items %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p class="mt-5 mb-2">{% trans "Should the following object be deleted?" %}</p>
    <strong>{{item}}</strong>
{% endif %}
<form class="my-5" action="" method="POST">
    {% csrf_token %}
    <input class="btn btn-warning" type="button" value="{% trans 'Back' %}" onclick="history.back()">
    <input class="btn btn-danger" type="submit" value="{% trans 'Delete' %}">
</form>
{% endblock content %}
{% block footerBar %}
{% endblock footerBar %}