{% extends 'base.html' %}
{% block title %}
{% if title %}
{{title}}
{% else %}
{% trans "Löschen" %}
{% endif %}
{% endblock title %}
{% block mainNavigationBar %}
{% endblock mainNavigationBar %}
{% block content %}
{% if items %}
    <p class="mt-5 mb-2">{% trans "Sollen die folgenden Objekte gelöscht werden?" %}</p>
    <ul>
        {% if item %}
        <li>{{item}}</li>
        {% endif %}
        {% for item in items %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
{% else %}
    <p class="mt-5 mb-2">{% trans "Soll das folgende Objekt gelöscht werden?" %}</p>
    <strong>{{item}}</strong>
{% endif %}
<form class="my-5" action="" method="POST">
    {% csrf_token %}
    <input class="btn btn-warning" type="button" value="Zurück" name="{% trans 'Zurück' %}" onclick="history.back()">
    <input class="btn btn-danger" type="submit" value="Löschen" name="{% trans 'Löschen' %}">
</form>
{% endblock content %}