{% extends 'base.html' %}
{% block title %}
{{user}} - Details
{% endblock title %}
{% block content %}
<h1>{{user}}</h1>
{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show my-2" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert", aria-label="Schliessen">
        <span arie-hidden="true">&times;</span>
    </button>
    </div>
{% endfor %}
<nav class="nav nav-pills justify-content-end flex-column flex-sm-row my-2">
    <a class="nav-link bg-light text-dark" href="javascript:history.back()">Zurück</a>
    <a class="nav-link bg-warning text-dark ml-sm-3" href="{{edit_link}}">Bearbeiten</a>
</nav>
<div class="row my-2">
    <div class="col-sm-6 col-md my-1 order-1">
        <div class="card">
            <div class="card-header">Informationen</div>
            <div class="card-body">
                <p class="card-text">
                    Name: {{user.name}}<br />
                    Benutzername: {{user.username}}<br />
                    E-Mail: {{user.email}}<br />
                    {% with groups=user.groups.all %}
                        {% if groups|length > 0 %}
                            Gruppen:
                            {% for group in groups %}
                                {{group}}
                                {% if forloop.revcounter > 2 %}
                                    ,
                                {% elif forloop.revcounter == 2%}
                                     und
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </p>
            </div>
        </div>
    </div>
    {% with reg_trainings as trainings %}
    <div class="col-sm-6 col-md my-1 order-3">
        <div class="card">
            <div class="card-header d-flex justify-content-between">angemeldete Trainings<span class="badge badge-info badge-pill align-self-center">{{trainings|length}}</span></div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for training in trainings %}
                        <li class="list-group-item">{{training.start.date}}: {{training}}</li>
                    {% empty %}
                        <li class="list-group-item">Keine zukünftigen Anmeldungen</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endwith %}
    {% with part_trainings as trainings %}
    <div class="col-sm-6 col-md my-1 order-3">
        <div class="card">
            <div class="card-header d-flex justify-content-between">absolvierte Trainings<span class="badge badge-success badge-pill align-self-center">{{trainings.paginator.count}}</span></div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for training in trainings %}
                        <li class="list-group-item">{{training.start.date}}: {{training}}</li>
                    {% empty %}
                        <li class="list-group-item">Bisher noch keine absolvierten Trainings</li>
                    {% endfor %}
                </ul>
                {% if trainings.has_other_pages %}
                    <nav aria-label="Seitenwahl für absolvierte Trainings">
                    <ul class="pagination pagination-sm mt-3 justify-content-center">
                    {% for page in trainings.paginator.page_range %}
                        {% if page == trainings.number %}
                            <li class="page-item active"><a href="#" class="page-link" aria-current="page">{{page}}<span class="sr-only">(aktuell)</span></a></li>
                        {% elif page == trainings.start_index or page == trainings.end_index or page == trainings.previous_page_number or page == trainings.next_page_number %}
                            <li class="page-item"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    {% endwith %}
</div>
{% endblock content %}