{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{page_user}} - {% trans "Details" %}
{% endblock title %}
{% block content %}
<h1>{{page_user}}</h1>
<nav class="nav justify-content-end flex-column flex-sm-row my-2">
    <a class="nav-link bg-light text-dark" href="javascript:history.back()">{% trans "Back" %}</a>
    {% if page_user.is_trainer %}
    <a class="nav-link bg-success text-light ml-sm-3" href="{% url 'trainings-held-trainer' page_user.id %}">{% trans "Trainings Controlling" %}</a>
    {% endif %}
    <a class="nav-link bg-warning text-dark ml-sm-3" href="{{edit_link}}">{% trans "Edit" %}</a>
</nav>
<div class="row my-2">
    <div class="col-sm-6 col-md my-1 order-1">
        <div class="card">
            <div class="card-header">{% trans "Information" %}</div>
            <div class="card-body">
                <p class="card-text">
                    {% trans "Name" %}: {{page_user.name}}<br>
                    {% trans "Username" %}: {{page_user.username}}<br>
                    {% trans "E-mail" %}: {{page_user.email}}<br>
                    {% with groups=page_user.get_groups_locale %}
                        {% if groups|length > 0 %}
                            {% trans "Groups" %}:
                            {% for group in groups %}
                                {{group}}{% if forloop.revcounter > 2 %}, {% elif forloop.revcounter == 2%} {% trans "and" %} {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </p>
            </div>
        </div>
    </div>
    {% with reg_trainings as trainings %}
    <div class="col-sm-6 col-md my-1 order-3">
        <div class="card">
            <div class="card-header d-flex justify-content-between">{% trans "registered trainings" %}<span class="badge badge-info badge-pill align-self-center">{{trainings|length}}</span></div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for training in trainings %}
                        <li class="list-group-item"><a href="{% url 'trainings-details' training.id %}">{{training.start.date}}: {{training}}</a></li>
                    {% empty %}
                        <li class="list-group-item">{% trans "no future registrations" %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endwith %}
    {% with part_trainings as trainings %}
    <div class="col-sm-6 col-md my-1 order-3">
        <div class="card">
            <div class="card-header d-flex justify-content-between">{% trans "completed trainings" %}<span class="badge badge-success badge-pill align-self-center">{{trainings.paginator.count}}</span></div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for training in trainings %}
                        <li class="list-group-item"><a href="{% url 'trainings-details' training.id %}">{{training.start.date}}: {{training}}</a></li>
                    {% empty %}
                        <li class="list-group-item">{% trans "no completed trainings yet" %}</li>
                    {% endfor %}
                </ul>
                {% if trainings.has_other_pages %}
                    <nav aria-label="{% trans 'pagination for completed trainings' %}">
                    <ul class="pagination pagination-sm mt-3 justify-content-center">
                    {% for page in trainings.paginator.page_range %}
                        {% if page == trainings.number %}
                            <li class="page-item active"><a href="#" class="page-link" aria-current="page">{{page}}<span class="sr-only">({% trans "current" %})</span></a></li>
                        {% elif page == trainings.start_index or page == trainings.end_index or page == trainings.previous_page_number or page == trainings.next_page_number %}
                            <li class="page-item"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
    {% endwith %}
</div>
{% endblock content %}