{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Log in" %}
{% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="card col-sm-6 col-md-4 col-lg-4 col-xl-3 p-3 m-2 m-sm-5">
            <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="sr-only">{% trans "Username" %}</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="username" value="{{username}}">
                <small id="usernameHelp" class="sr-only">{% trans "Please enter your username here." %}</small>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">{% trans "Password" %}</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="password">
            </div>
            {% for error in form.errors %}
            <p>{{error}}</p>
            {% endfor %}
            {% if messages %}
            <p class="card-text"><small class="text-muted">{% trans "Forgotten your password" %} <a href="{% url 'password_reset' %}">{% trans "Reset your password." %}</a></small></p>
            {% endif %}
            {% url 'register' as registration_link %}
            {% blocktrans %}
            <p class="card-text"><small class="text-muted">No account? Register <a href="{{ registration_link }}">here</a>.</small></p>
            {% endblocktrans %}
            <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
            </form>
        </div>
    </div>
{% endblock content %}