{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}
{% block title %}
{% trans "Mitglieder Liste" %}
{% endblock %}
{% block content %}
<h1>{% trans "Mitglieder" %}</h1>
<div class="card">
    <div class="card-body">
        <form method="get" class="form-inline">
            {{myFilter.form|crispy}}
            <button class="btn btn-primary" type="submit">
            {% trans "Filtern" %}
            </button>
        </form>
    </div>
</div>
<div class="table-responsive-lg">
<table class="table">
    <thead>
    <tr>
        <th>{% trans "Vorname" %}</th>
        <th>{% trans "Nachname" %}</th>
        <th>{% trans "Benutzername" %}</th>
        <th>{% trans "E-Mail" %}</th>
        <th>{% trans "Gruppen" %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td class="align-middle">{{user.first_name}}</td>
        <td class="align-middle">{{user.last_name}}</td>
        <td class="align-middle"><a href="{% url 'member-details' user.id %}">{{user.username}}</a></td>
        <td class="align-middle"><a href="mailto:{{user.email}}">{{user.email}}</a></td>
        <td class="align-middle">
            {% with user_groups=user.groups.all %}
            {% if user_groups|length > 1 %}
            <ul>
            {% for group in user_groups %}
                <li>{{group}}</li>
            {% endfor %}
            </ul>
            {% else %}
            {% for group in user_groups %}{{group}}{% endfor %}
            {% endif %}
            {% endwith %}
        </td>
        <td class="align-middle"><a href="{% url 'member-details' user.id %}" class="btn btn-primary btn-sm ml-3">{% trans "Details" %}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock  %}