{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans "Member Administration" %}
{% endblock title %}
{% block content %}
<div class="row">
    <p>{% trans "The following buttons reassign groups based on the activity in the previous 15 weeks. Those actions are potentially causing a high load on the database depending on the number of users. They should such be triggered with care." %}</p>
</div>
<div class="row my-3">
    <form method="POST" action="" class="col-auto">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="check_active_participants">{% trans "Active Participants" %}</button>
    </form>
    <form method="POST" action="" class="col-auto">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="check_active_trainers">{% trans "Active Trainers" %}</button>
    </form>
    <form method="POST" action="" class="col-auto">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="check_trainers">{% trans "Trainers" %}</button>
    </form>
</div>
{% endblock content %}