{% extends 'base.html' %}
{% block title %}
{% trans "Mitglieder Administration" %}
{% endblock title %}
{% block content %}
<div class="row">
    <p>{% trans "Die nachfolgenden Buttons weisen die Gruppen neu zu, entsprechend der Aktivität in den letzten 15 Wochen. Dieser Vorgang kann bei grossen Nutzerzahlen sehr arbeitsintensiv sein und sollte daher nicht unnötig oft ausgeführt werden." %}</p>
</div>
<div class="row my-3">
    <form method="POST" action="" class="col-auto">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="check_active_participants">{% trans "Aktive Teilnehmer" %}</button>
    </form>
    <form method="POST" action="" class="col-auto">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="check_active_trainers">{% trans "Aktive Trainer" %}</button>
    </form>
    <form method="POST" action="" class="col-auto">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="check_trainers">{% trans "Trainer" %}</button>
    </form>
</div>
{% endblock content %}